<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Instruments!</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <mat-list-item
      class='mat-list-option'
      *ngFor='let instrument of instruments$'
      (click)='submitSelectInstrument(instrument)'
      >
      <div class='container'>
        <h3>{{instrument.name}}</h3>
        <div class='delete'><button mat-icon-button color='warn' (click)='submitDeleteInstrument(instrument); $event.stopImmediatePropagation()'><mat-icon matListIcon>delete</mat-icon></button></div>
      </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
