<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1 *ngIf='!currentPizza$?.name else pizzaName'>Create a Pizza!</h1>
        <ng-template #pizzaName><h1>{{currentPizza$?.name}}</h1></ng-template>
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form [formGroup]="pizzaForm" #form='ngForm' (submit)='submitSubmitPizzaForm(form.value); resetPizzaForm(form)'>

        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput required formControlName="name" placeholder='Name'>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Calories</mat-label>
            <input matInput required type='number' formControlName="calories" placeholder='Calories'>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Main Topping</mat-label>
            <input matInput required formControlName="mainTopping" placeholder='Main Topping'>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Secondary Topping</mat-label>
            <input matInput required formControlName="secondaryTopping" placeholder='Secondary Topping'>
        </mat-form-field>
        <button mat-raised-button color='primary' type='submit'>SUBMIT</button>
        <button mat-raised-button color='warn' type='reset' (click)='resetPizzaForm(form)'>CANCEL</button>
      </form>
    </mat-card-content>
  </mat-card>
