<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 *ngIf='!currentInstrument$?.name else instrumentName'>Create A Instrument!</h1>
      <ng-template #instrumentName><h1>{{currentInstrument$?.name}}</h1></ng-template>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]='instrumentForm' #form='ngForm' (ngSubmit)='submitSubmitInstrumentForm(form.value); resetInstrumentForm(form)'>
      <mat-form-field appearance='outline'>
        <mat-label>Name</mat-label>
        <input matInput formControlName='name' placeholder='Name'>
      </mat-form-field>

      <mat-form-field appearance='outline'>
        <mat-label>Year</mat-label>
        <input matInput formControlName='year' placeholder='Year'>
      </mat-form-field>

      <mat-form-field appearance='outline'>
        <mat-label>Inventor</mat-label>
        <input matInput formControlName='inventor' placeholder='Inventor'>
      </mat-form-field>

      <mat-form-field appearance='outline'>
        <mat-label>Country</mat-label>
        <input matInput formControlName='country' placeholder='Country'>
      </mat-form-field>

      <button mat-raised-button color='primary' type='submit' [disabled]='!form.valid'>SUBMIT</button>
      <button mat-raised-button color='warn' type='reset' (click)='resetInstrumentForm(form)'>CANCEL</button>

    </form>
  </mat-card-content>
</mat-card>
